.main-pg{
  .aside{
    background: #2c3e50;
    background: linear-gradient(#2c3e50,darken(#2c3e50,60%));
    .div-slogan{
      h2{
        color: darken(#fff,20);
      }
    }
    .aside{
      padding: 0 0px;
      ul{
        li{
          background: darken(#fff,5);
          a{
          }
        }
      }
    }
  }
  .contenido-pg{
    .article-desarrollando{
      border-bottom: 1px solid darken(#fff,20);
    }
    .article-compartiendo{
      border-bottom: 1px solid darken(#fff,20);
    }
    .article-porunmundomejor{
    }
  }
}